# auth-service
NODE_ENV=development

# PostgreSQL — schema 'auth' (schema-per-service)
DATABASE_URL="postgresql://clm_user:clm_pass@localhost:5432/clm_dev?schema=auth"

# Redis (transporte de microservicios)
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=change_me_in_production_32chars_min
JWT_REFRESH_SECRET=change_refresh_secret_in_production
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
