# contracts-service
NODE_ENV=development

# PostgreSQL — schema 'contracts' (schema-per-service)
DATABASE_URL="postgresql://clm_user:clm_pass@localhost:5432/clm_dev?schema=contracts"

# Redis (transporte de microservicios)
REDIS_HOST=localhost
REDIS_PORT=6379
