# gateway (API REST) — 3001 para evitar choque con Grafana (3000)
APP_PORT=3001
NODE_ENV=development

# Redis (cliente hacia microservicios)
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT (mismo secreto que auth-service para validar tokens)
JWT_SECRET=change_me_in_production_32chars_min
